version: "3.7"

services:
  # # Staging Container (LEMP) - should mirror production server
  # staging:
  #   build:
  #     context: .
  #     dockerfile: ./staging/Dockerfile
  #   container_name: "${COMPOSE_PROJECT_NAME}_staging"
  #   volumes:
  #     # - ./.drupal:/var/www/html
  #     - production:/var/www/html/
  #   labels:
  #     # - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_staging.rule=Host(`${PROJECT_BASE_URL}`)"
  #     - traefik.http.routers.staging.service=staging
  #     - traefik.http.services.staging.loadbalancer.server.port=80
  #     - traefik.http.routers.staging.rule=Host(`${PROJECT_BASE_URL}`)
  #     - traefik.http.routers.db.service=db
  #     - traefik.http.services.db.loadbalancer.server.port=80
  #     - traefik.http.routers.db.rule=Host(`db.${PROJECT_BASE_URL}`)

# Development Container
  php:
    container_name: "${COMPOSE_PROJECT_NAME}_php"
    depends_on: 
      - db
    build:
      context: .
      dockerfile: ./php/Dockerfile
      args:
        ARG_APP_USER: ${APP_USER}
        ARG_APP_GROUP: ${APP_GROUP}
        ARG_APP_USER_ID: ${APP_USER_ID}
        ARG_APP_GROUP_ID: ${APP_GROUP_ID}
        APP_CODE_PATH: /var/www/html
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - development:/var/www/html
      - npm:/root/.npm/
    labels:
      - traefik.http.routers.pattern.service=pattern
      - traefik.http.services.pattern.loadbalancer.server.port=8080
      - traefik.http.routers.pattern.rule=Host(`pattern.${PROJECT_BASE_URL}`)

  nginx:
    image: nginx:alpine
    container_name: "${COMPOSE_PROJECT_NAME}_nginx"
    environment:
      NGINX_ROOT: ${NGINX_ROOT}
      NGINX_HOST: php
      TZ: ${TIMEZONE}
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/conf.d/dev.conf:/etc/nginx/conf.d/dev.conf
      - type: volume
        source: development
        target: /var/www/html/
    depends_on:
        - php
    restart: always
    labels:
      # - traefik.http.routers.dev.service=dev
      # - traefik.http.services.dev.loadbalancer.server.port=80
      # - traefik.http.routers.dev.rule=Host(`dev.${PROJECT_BASE_URL}`)
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_nginx.rule=Host(`dev.${PROJECT_BASE_URL}`)"

  db:
    image: mariadb
    container_name: "${COMPOSE_PROJECT_NAME}_db"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - data:/var/lib/mysql
      - ./config/mysql/conf.d/drupal.cnf:/etc/mysql/conf.d/drupal.cnf

  adminer:
    image: adminer
    container_name: "${COMPOSE_PROJECT_NAME}_adminer"
    labels:
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_adminer.rule=Host(`adminer.${PROJECT_BASE_URL}`)"
    restart: always

  mailhog:
    image: mailhog/mailhog
    container_name: "${COMPOSE_PROJECT_NAME}_mailhog"
    labels:
      - "traefik.http.services.${COMPOSE_PROJECT_NAME}_mailhog.loadbalancer.server.port=8025"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_mailhog.rule=Host(`mailhog.${PROJECT_BASE_URL}`)"

  traefik:
    image: traefik:v2.0
    container_name: "${COMPOSE_PROJECT_NAME}_traefik"
    command: 
      - "--api.insecure=true"
      - "--providers.docker=true"
    ports:
      - 8000:80
      - 5000:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  
  portainer:
    image: portainer/portainer
    container_name: "${COMPOSE_PROJECT_NAME}_portainer"
    command: --no-auth -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}_portainer.rule=Host(`portainer.${PROJECT_BASE_URL}`)

volumes:
  development:
  production:
  data:
  npm: